.board {
  height: 75vh;
  width: 75vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  .coordinate {
    font-size: 20px;
    position: absolute;
    margin: 0;
    user-select: none;
  }

  .coordinate__number {
    align-self: flex-start;
    text-align: left;
    width: calc(75vh / 8 - 3px);
  }

  .coordinate__letter {
    align-self: flex-end;
    text-align: right;
    width: calc(75vh / 8 - 3px);
  }

  .square {
    height: calc(75vh / 8);
    width: calc(75vh / 8);
    display: flex;
    align-items: center;
    justify-content: center;

    .active {
      z-index: 1;
      height: inherit;
      width: inherit;
      position: absolute;
      background-color: rgba($color: #ffff33, $alpha: 0.6);
    }
  }

  .square-white {
    background-color: #f0d9b5;
    color: #b58863;
  }

  .square-black {
    background-color: #b58863;
    color: #f0d9b5;
  }
}
