.board {
  height: 75vh;
  width: 75vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  .coordinate_parent {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .coordinates_vertical {
      height: inherit;
      display: flex;
      flex-direction: column;
      gap: calc(75vh / 8 - 25px);
    }

    .coordinates_horizontal {
      width: inherit;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: calc(75vh / 8 - 20px);
    }

    .coordinate {
      font-size: 20px;
      user-select: none;
      width: 20px;
      height: 25px;
      margin: 0;
    }
  }

  .square {
    height: calc(75vh / 8);
    width: calc(75vh / 8);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    &.hovered {
      border: 0.5vh solid rgba($color: #fff, $alpha: 0.75);
      box-sizing: border-box;
    }

    .active {
      z-index: 2;
      height: inherit;
      width: inherit;
      position: absolute;
      background-color: rgba($color: #ffff33, $alpha: 0.6);
    }
  }

  .square-white {
    background-color: #f0d9b5;
    color: #b58863;
  }

  .square-black {
    background-color: #b58863;
    color: #f0d9b5;
  }
}
