.piece {
  position: relative;
  height: calc(75vh / 8);
  width: calc(75vh / 8);
  background-size: contain;
  user-select: none;
  z-index: 3;

  &:hover {
    cursor: grab;
  }

  &.dragging {
    position: absolute;
    z-index: 4;
    cursor: grabbing;
  }
}

.hint {
  position: absolute;
  align-self: center;
  z-index: 1;
  height: calc(75vh / 8);
  width: calc(75vh / 8);
  display: flex;
  align-items: center;
  justify-content: center;

  .hint_child {
    border-radius: 50%;
  }

  .hint_move {
    height: 3.25vh;
    width: 3.25vh;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .hint_capture {
    height: inherit;
    width: inherit;
    border: 1vh solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
  }
}
