.piece {
  position: relative;
  height: calc(75vh / 8);
  width: calc(75vh / 8);
  background-size: contain;
  user-select: none;
  z-index: 1;

  &:hover {
    cursor: grab;
  }

  &.dragging {
    position: absolute;
    z-index: 2;
    cursor: grabbing;
  }
}

.move-dot {
  align-self: center;
  height: 3.25vh;
  width: 3.25vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
