.piece {
  height: calc(75vh / 8);
  width: calc(75vh / 8);
  user-select: none;
  z-index: 1;
}

.move_dot {
  align-self: center;
  height: 30px;
  width: 30px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
